TRELLO_API_KEY=coloque_sua_key_aqui
TRELLO_TOKEN=coloque_seu_token_aqui
TRELLO_BOARD_ID=yo4qzLai

DJANGO_SECRET_KEY=troque_essa_chave
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
INTGEST_ADMIN_USER=gestor
INTGEST_ADMIN_PASSWORD=intgest
INTGEST_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174
